{{page-title "Ua songs"}}

<h1 class="font-bold text-2xl">
  UA
  <span class="font-normal">Songs</span>
</h1>
<h2 id="title">List</h2>

<div>
  <nav>
      <LinkTo class='hover:text-gray-500' @route='bands'>Bands</LinkTo>
  </nav>
</div>  

<div class="flex flex-wrap -mx-2">
  {{outlet}}
</div>